body {
  font-family: Poppins;
  /* font-weight: 400;
  font-size: normal; */
  margin: 0;
  padding: 0;
}
.orange {
  color: orange;
}

/* Welcome Section CSS */
.welcome-section {
  background-image: url(images/top-banner.png);
  background-repeat: no-repeat;
}
.flexiable-section {
  display: flex;
  padding: 50px 0;
}
.half-width {
  width: 50%;
  padding: 0 5%;
}
.half-width h1 {
  font-size: 50px;
  font-weight: 700;
}
.half-width a {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  background-image: linear-gradient(orange, tomato);
  padding: 10px 30px;
  border-radius: 5px;
}
.half-width img {
  width: 100%;
}

/* Dream Section CSS */
.dream-section {
  background-image: url(images/dream-bg.png);
  background-repeat: no-repeat;
  background-position: right;
}

/* Experiance Section */
.experiance-section h1 {
  padding-left: 20px;
}
.exeriance-item {
  border-left: 4px solid;
  width: 40%;
  margin: 0 5% 0 5%;
  box-shadow: 15px 15px 30px lightgray;
  padding: 20px;
}

#full-stack {
  border-image: linear-gradient(red, blue);
  border-image-slice: 1;
}
#baby-dev {
  border-image: linear-gradient(yellow, tomato);
  border-image-slice: 1;
}
